<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">

{% if site.url %}<link rel="canonical" href="{{ page.url | absolute_url }}">{% endif %}

<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">

{% seo %}